[submodule "lib/agsXmpp"]
	path = lib/agsXmpp
	url = http://github.com/foxundermoon/agsXmpp
 
[submodule "lib/myDotNetLib"]
	path = lib/myDotNetLib
	url = http://foxundermoon:git232381204@github.com/foxundermoon/myDotNetLib
