[submodule "lib/agsXmpp"]
	path = lib/agsXmpp
	url = http://public:232381204@swgit.vvfox.com/public/agsXmpp
 
[submodule "lib/myDotNetLib"]
	path = lib/myDotNetLib
    url  = http://foxundermoon:232381204@swgit.vvfox.com/foxundermoon/MyDotnetLib
[submodule "lib/SuperSocket"]
	path = lib/SuperSocket
	url = http://foxundermoon:232381204@swgit.vvfox.com/public/SuperSocket
	branch = v1.6
